:root {
    --link-background: #514600;
    --link-text: #F5F5F5;
    --text-highlight: #FFEB39;
    --anchor-text: #4A4400;
    --anchor-text-highlight: #A58600;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
}

body {
    background: #EFCE00;
    color: var(--link-background);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #514600;
}

.logo-link-container {
    padding: 10px 20px;
}

.logo-link-container img {
    max-width: 40px;
    aspect-ratio: 1 / 1;
}

.navbar-links-container {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.navbar-link a {
    text-decoration: none;
}

.navbar-link p {
    font-size: 0.75rem;
    color: var(--link-text);
}

.navbar-link p:hover {
    color: var(--text-highlight);
}

.background-image-container img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    backface-visibility: hidden;
    transition: 0.5s ease;
    opacity: 0.5;
}

.background-image-text {
    position: absolute;
    color: var(--link-text);
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 1.5rem;
    text-align: center;
}

.story-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    margin-right: 26px;
}

.story-head-container {
    display: flex;
    justify-content: space-between;
}

.story-container h1 {
    font-weight: 900;
    padding-bottom: 1rem;
}

.our-story-with-p1 {
    width: 180px;
}

.story-head-container img {
    max-width: 200px;
    padding-top: 0.5rem;
    border-radius: 4rem;
    filter: drop-shadow(1rem 1rem 10px #A58600);
}

.story-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.anchor-text {
    color: var(--anchor-text);
    font-size: 0.9rem;
    text-decoration: none;
}

.anchor-text:hover {
    color: var(--link-text);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 0.8rem;
    line-height: 20px;
}

.footer-text-container {
    max-width: 330px;
}

.scroll-to-top {
    border-radius: 2rem;
    background: var(--link-background);
    color: var(--text-highlight);
    padding: 1rem;
}

.scroll-to-top:hover {
    background: var(--anchor-text-highlight);
    color: var(--link-background);
}

@media (min-width: 640px) {

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }

    .navbar-links-container {
        gap: 2rem;
    }

    .navbar-link p {
        font-size: 1rem;
    }

    .anchor-text {
        font-size: 1.1rem;
    }

    .background-image-text {
        font-size: 3rem;
        top: 34%;
        left: 50%;
    }

    .story-container {
        padding: 2rem;
        padding-bottom: 6rem;
        gap: 2rem;
    }

    .story-head-container {
        align-items: center;
    }

    .story-head-container img {
        max-width: 250px;
    }

    .our-story-with-p1 {
        width: 400px;
    }

    .footer p {
        font-size: 0.9rem;
    }

    .footer-text-container {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    .background-image-container img {
        max-height: 500px;
    }

    .logo-link-container {
        padding-left: 2rem;
    }

    .logo-link-container img {
        max-width: 50px;
    }

    .navbar-links-container {
        gap: 3rem;
        padding-right: 3rem;
    }

    .navbar-link p {
        font-size: 1.2rem;
    }

    .background-image-text {
        font-size: 3.5rem;
        top: 38%;
        left: 50%;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }

    .story-container {
        padding-top: 6rem;
        padding-bottom: 9rem;
        gap: 6rem;
        text-align: center;
    }

    .story-head-container {
        justify-content: space-evenly;
    }

    .story-head-container img {
        max-width: 350px;
    }

    .story-paragraphs {
        gap: 2.5rem;
    }
}
