:root {
    --link-background: #514600;
    --link-text: #F5F5F5;
    --text-highlight: #FFEB39;
    --anchor-text: #4A4400;
    --anchor-text-highlight: #A58600;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
}

body {
    background: #EFCE00;
    color: var(--link-background);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #514600;
}

.logo-link-container {
    padding: 10px 20px;
}

.logo-link-container img {
    max-width: 40px;
    aspect-ratio: 1 / 1;
}

.navbar-links-container {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.navbar-link a {
    text-decoration: none;
}

.navbar-link p {
    font-size: 0.75rem;
    color: var(--link-text);
}

.navbar-link p:hover {
    color: var(--text-highlight);
}

.background-image-container {
    padding-top: 10px;
}

.background-image-container img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    backface-visibility: hidden;
    transition: 0.5s ease;
    opacity: 1;
}

.background-image-text {
    position: absolute;
    color: var(--link-text);
    top: 32%;
    left: 28%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transition: 0.5s ease;
    text-align: center;
    opacity: 0;
}

.background-image-container:hover img {
    opacity: 0.5;
}

.background-image-container:hover .background-image-text {
    opacity: 1;
}

.story-container {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}

.story-head-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.story-container h1 {
    font-weight: 900;
    padding-bottom: 1rem;
}

.our-story-with-p1 {
    width: 180px;
}

.story-head-container img {
    max-width: 200px;
    padding-top: 0.5rem;
    border-radius: 4rem;
    filter: drop-shadow(1rem 1rem 10px #A58600);
}

.anchor-text {
    color: var(--anchor-text);
    font-size: 0.9rem;
    text-decoration: none;
}

.anchor-text:hover {
    color: var(--link-text);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 0.8rem;
    line-height: 20px;
}

.footer-text-container {
    max-width: 330px;
}

.scroll-to-top {
    border-radius: 2rem;
    background: var(--link-background);
    color: var(--text-highlight);
    padding: 1rem;
}

.scroll-to-top:hover {
    background: var(--anchor-text-highlight);
    color: var(--link-background);
}
